<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.studentmanager.mapper.CourseMapper">


    <update id="selectCourse" parameterType="SelectCourse" >
        update s_course set residue_num = if(residue_num &lt;1,0,residue_num-1) where id=#{courseId}
    </update>

    <update id="decSelected">
        update s_course set residue_num = if(residue_num &gt; max_num-1,max_num,residue_num+1) where id=#{id}
    </update>

    <update id="updateCourse" parameterType="Course">
        update s_course set name = #{name},tid = #{tid},course_date = #{course_date},residue_num = #{residue_num},max_num = #{num} where id = #{id}
    </update>

    <select id="findAllCourse"  resultType="Course">
        select s_course.id,name,username as teacherName,course_date as courseDate,residue_num as residueNum,max_num as maxNum from s_course,s_teacher where s_course.tid = s_teacher.tid and s_course.residue_num>-1
    </select>

    <select id="findByTid"  resultType="Course">
        select s_course.id,name,username as teacherName,course_date as courseDate,residue_num as residueNum,max_num as maxNum from s_course,s_teacher where s_teacher.tid = #{tid} and s_course.tid = s_teacher.tid
    </select>

    <select id="findById" parameterType="int" resultType="Course">
        select name,username as teacherName,course_date as courseDate,residue_num as residueNum,max_num as maxNum, info from s_course,s_teacher where s_course.id = #{id} and s_course.tid = s_teacher.tid
    </select>

    <delete id="deleteCourse" parameterType="int">
        delete  from s_course where id = #{id}
    </delete>

    <insert id="addCourse" parameterType="Course" >
        insert into s_course(name,tid,course_date,residue_num,max_num,info) values(#{name},#{tid},#{courseDate},#{maxNum},#{maxNum},#{info})
    </insert>

    <update id="alterTable" >
        ALTER TABLE s_course AUTO_INCREMENT = 1;
    </update>
</mapper>