<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.studentmanager.mapper.StudentMapper">
    <select id="findAllStudent" resultType="Student">
        select id,sid,username,password,s_class.class_id,sex,mobile,s_class.class_name from s_student,s_class where s_student.class_id = s_class.class_id
    </select>
    <select id="findByStudent" parameterType="Student" resultType="Student">
        select * from s_student where username = #{username} and password = #{password}
    </select>

    <insert id="addStudent" parameterType="Student" >
        insert into s_student(sid,username,password,class_id,sex,mobile) values(#{sid},#{username},#{password},#{class_id},#{sex},#{mobile})
    </insert>

    <update id="updateStudent" parameterType="Student">
        update s_student set sid = #{sid},username = #{username},password = #{password},class_id = #{class_id},sex = #{sex},mobile = #{mobile} where id = #{id}
    </update>


    <select id="findById" parameterType="int" resultType="Student">
        select id,sid,username,password,s_class.class_id,sex,mobile,s_class.class_name from s_student,s_class where s_student.id = #{id} and s_student.class_id = s_class.class_id
    </select>




    <delete id="deleteStudent" parameterType="int" >
        delete from s_student where id=#{id}
    </delete>

</mapper>