<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.studentmanager.mapper.TeacherMapper">
    <select id="findAllTeacher" resultType="Teacher">
        select * from s_teacher
    </select>

    <select id="addTeacherClassid" resultType="Teacher">
        select * from s_teacher where class_id = 0
    </select>

    <select id="findByClassid" parameterType="int" resultType="Teacher">
        select * from s_teacher where class_id = #{class_id}
    </select>

    <update id="setClass_id" parameterType="int">
        update s_teacher set class_id = (select class_id from s_class where tid=#{tid}) where tid= #{tid}
    </update>

    <update id="resetClass_id" parameterType="int">
        update s_teacher set class_id = 0 where tid = #{tid}
    </update>

</mapper>